/* NAVBAR */
.nav {
  background-color: white;
  min-width: 100vw;
  height: 96px;
}
.button {
  background-color: #ffcccc;
  color: black;
  border-radius: 50px;
  height: 30px;
  width: 80px;
  padding: 0px;
  font-size: 16px;
  box-shadow: 0.125rem 0.125rem #2c3333, 1px 1px 5px rgba(0, 0, 0, 0.4);
  margin: 4px 10px 4px 10px;
  font-weight: bold;
}
.button_active {
  background-color: white;
  color: gray;
  border-radius: 50px;
  height: 30px;
  width: 80px;
  padding: 0px;
  font-size: 16px;
  box-shadow: inset -0px -0px 5px rgba(0, 0, 0, 0.4);
  margin: 6px 10px 2px 10px;
  font-weight: bold;
}
.button_sidenav {
  background-color: black;
  color: white;
  border-radius: 50px;
  height: 30px;
  width: 80px;
  padding: 0px;
  font-size: 16px;
  box-shadow: 0.125rem 0.125rem #cccccc, 1px 1px 5px rgba(0, 0, 0, 0.4);
  margin: 4px 10px 4px 10px;
  font-weight: bold;
}
.button_active_sidenav {
  background-color: #ccff00;
  color: rgba(144, 198, 0);
  border-radius: 50px;
  height: 30px;
  width: 80px;
  padding: 0px;
  font-size: 16px;
  box-shadow: inset -0px -0px 5px rgba(0, 0, 0, 0.4);
  margin: 6px 10px 2px 10px;
  font-weight: bold;
}
.button:active {
  background-color: #ccff00;
  color: rgba(144, 198, 0);
  box-shadow: inset -0px -0px 5px rgba(0, 0, 0, 0.4);
  outline: none;
  margin: 6px 10px 2px 10px;
}
.button_circle {
  background-color: #ffcccc;
  color: black;
  border-radius: 50px;
  height: 30px;
  width: 30px;
  padding: 0px;
  font-size: 16px;
  box-shadow: 0.125rem 0.125rem #2c3333, 1px 1px 5px rgba(0, 0, 0, 0.4);
  margin: 4px 10px 4px 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button_circle_sidenav {
  background-color: black;
  color: white;
  border-radius: 50px;
  height: 30px;
  width: 30px;
  padding: 0px;
  font-size: 16px;
  box-shadow: 0.125rem 0.125rem #cccccc, 1px 1px 5px rgba(0, 0, 0, 0.4);
  margin: 4px 10px 4px 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button_circle:active {
  background-color: #ccff00;
  color: rgba(144, 198, 0);
  box-shadow: inset -0px -0px 5px rgba(0, 0, 0, 0.4);
  outline: none;
  margin: 6px 10px 2px 10px;
}
.icon {
  margin: auto;
}
.divider {
  box-shadow: 0.125rem 0.125rem #2c3333, 1px 1px 5px rgba(0, 0, 0, 0.4);
  margin: 4px 10px 4px 10px;
  background-color: black;
  border-radius: 50px;
}

/* >>CONTENT<< */
/* BANNER */
.cv_button {
  position: relative;
  background-color: #cccccc;
  color: black;
  border-radius: 50px;
  height: 90px;
  width: 90px;
  padding: 0px;
  font-size: 18px;
  box-shadow: 0.125rem 0.125rem #2c3333, 1px 1px 5px rgba(0, 0, 0, 0.4);
  margin: 4px 10px 4px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cv_button:active {
  background-color: #2c3333;
  color: #cccccc;
  box-shadow: inset -0px -0px 5px rgba(0, 0, 0, 0.4);
  outline: none;
  margin: 6px 10px 2px 10px;
}
.emoji {
  font-size: 52px;
  rotate: -40deg;
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: -10px;
  transform: translateY(20%);
}

/* FLIP-CARD */
.container {
  width: 240px;
  height: 240px;
  perspective: 800px;
}

.container:hover > .card {
  cursor: pointer;
  transform: rotateY(180deg) rotateZ(180deg);
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 2rem;
  backface-visibility: hidden;
  box-shadow: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.front {
  background-color: #2c3333;
  color: white;
  box-shadow: 0px 5px 6px 2px rgba(0, 0, 0, 0.4);
}
.back {
  background-image: radial-gradient(
    circle at top right,
    #ccff00,
    #ffff5f,
    #90c600
  );
  color: white;
  border-radius: 2rem;
  box-shadow: 0px 5px 6px 2px rgba(0, 0, 0, 0.4);
  /* box-shadow: 0.125rem 0.125rem black, 1px 1px 5px rgba(0, 0, 0, 0.4); */
  transform: rotateY(180deg) rotateZ(180deg);
}

/* BIG-CARD */
.bgcard_container {
  width: 320px;
  height: 520px;
  flex-shrink: 0;
}
@media (min-width: 550px) and (max-width: 1047px) {
  .bgcard_container {
    width: 520px;
    height: 320px;
    flex-shrink: 0;
    margin-bottom: 24px;
  }
}

.bgcard {
  width: 100%;
  height: 100%;
  background-color: #cab8ff;
  border: solid black;
  border-radius: 25px;
  border-width: 9px;
  box-shadow: 0px 5px 6px 2px rgba(0, 0, 0, 0.4);
}
