.first_button {
  background-color: #cab8ff;
  color: #121212;
  border-radius: 25px;
  margin-top: 2rem;
  height: 40px;
  width: 80px;
  padding: 0;
  font-size: 16px;
  box-shadow: inset -0px -0px 5px rgba(0, 0, 0, 0.4);
  margin: 6px 10px 2px 10px;
}

.first_button:hover {
  background-color: #cab8ff;
  color: #121212;
  border-radius: 25px;
  margin-top: 2rem;
  height: 40px;
  width: 80px;
  padding: 0;
  font-size: 16px;
  box-shadow: 0.125rem 0.125rem #121212, 1px 1px 5px rgba(0, 0, 0, 0.4);
  margin: 4px 10px 4px 10px;
  outline: none;
}

.button {
  background-color: #121212;
  color: #e9e3e6;
  border-radius: 50px;
  height: 30px;
  width: 80px;
  padding: 0px;
  font-size: 16px;
  box-shadow: inset -0px -0px 5px rgba(0, 0, 0, 0.4);
  margin: 6px 10px 2px 10px;
  font-weight: bold;
}

.button:hover {
  background-color: #121212;
  color: #e9e3e6;

  box-shadow: 0.125rem 0.125rem #cccccc, 1px 1px 5px rgba(0, 0, 0, 0.4);
  margin: 4px 10px 4px 10px;
  outline: none;
}

.button_circle {
  background-color: #121212;
  color: #e9e3e6;
  border-radius: 50px;
  height: 30px;
  width: 30px;
  padding: 0px;
  font-size: 16px;
  box-shadow: inset -0px -0px 5px rgba(0, 0, 0, 0.4);
  margin: 6px 10px 2px 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_circle:hover {
  background-color: #121212;
  color: #e9e3e6;

  box-shadow: 0.125rem 0.125rem #cccccc, 1px 1px 5px rgba(0, 0, 0, 0.4);
  margin: 4px 10px 4px 10px;
  outline: none;
}

.divider {
  margin: 4px 10px 4px 10px;
  background-color: #121212;
  border-radius: 50px;
  color: #121212;
}

.icon {
  margin: auto;
}

.target::before {
  content: '';
  display: block;
  height: 24px; /* Adjust this value to match the height of your navbar */
  margin-top: -24px; /* Use the same value as height but with a negative sign */
  visibility: hidden;
}
