.first_button {
  background-color: #2c3333;
  color: #cccccc;
  border-radius: 25px;
  margin-top: 2rem;
  height: 30px;
  width: 50px;
  padding: 0;
  font-size: 16px;
  box-shadow: 0.125rem 0.125rem #cccccc, 1px 1px 5px rgba(0, 0, 0, 0.4);
  margin: 4px 10px 4px 10px;
}

.first_button:active {
  background-color: #2c3333;
  color: white;
  border-radius: 25px;
  margin-top: 2rem;
  height: 30px;
  width: 50px;
  padding: 0;
  font-size: 16px;
  box-shadow: inset -0px -0px 5px rgba(0, 0, 0, 0.4);
  outline: none;
  margin: 6px 10px 2px 10px;
}

.button {
  background-color: black;
  color: white;
  border-radius: 50px;
  height: 30px;
  width: 80px;
  padding: 0px;
  font-size: 16px;
  box-shadow: 0.125rem 0.125rem #cccccc, 1px 1px 5px rgba(0, 0, 0, 0.4);
  margin: 4px 10px 4px 10px;
  font-weight: bold;
}

.button_active {
  background-color: #ccff00;
  color: rgba(144, 198, 0);
  border-radius: 50px;
  height: 30px;
  width: 80px;
  padding: 0px;
  font-size: 16px;
  box-shadow: inset -0px -0px 5px rgba(0, 0, 0, 0.4);
  margin: 6px 10px 2px 10px;
  font-weight: bold;
}

.button_sidenav {
  background-color: black;
  color: white;
  border-radius: 50px;
  height: 30px;
  width: 80px;
  padding: 0px;
  font-size: 16px;
  box-shadow: 0.125rem 0.125rem #cccccc, 1px 1px 5px rgba(0, 0, 0, 0.4);
  margin: 4px 10px 4px 10px;
  font-weight: bold;
}

.button_active_sidenav {
  background-color: #ccff00;
  color: rgba(144, 198, 0);
  border-radius: 50px;
  height: 30px;
  width: 80px;
  padding: 0px;
  font-size: 16px;
  box-shadow: inset -0px -0px 5px rgba(0, 0, 0, 0.4);
  margin: 6px 10px 2px 10px;
  font-weight: bold;
}

.button:active {
  background-color: #ccff00;
  color: rgba(144, 198, 0);
  box-shadow: inset -0px -0px 5px rgba(0, 0, 0, 0.4);
  outline: none;
  margin: 6px 10px 2px 10px;
}

.button_circle {
  background-color: black;
  color: white;
  border-radius: 50px;
  height: 30px;
  width: 30px;
  padding: 0px;
  font-size: 16px;
  box-shadow: 0.125rem 0.125rem #cccccc, 1px 1px 5px rgba(0, 0, 0, 0.4);
  margin: 4px 10px 4px 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_circle_sidenav {
  background-color: black;
  color: white;
  border-radius: 50px;
  height: 30px;
  width: 30px;
  padding: 0px;
  font-size: 16px;
  box-shadow: 0.125rem 0.125rem #cccccc, 1px 1px 5px rgba(0, 0, 0, 0.4);
  margin: 4px 10px 4px 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_circle:active {
  background-color: #ccff00;
  color: rgba(144, 198, 0);
  box-shadow: inset -0px -0px 5px rgba(0, 0, 0, 0.4);
  outline: none;
  margin: 6px 10px 2px 10px;
}
.icon {
  margin: auto;
}

.divider {
  box-shadow: 0.125rem 0.125rem #cccccc, 1px 1px 5px rgba(0, 0, 0, 0.4);
  margin: 4px 10px 4px 10px;
  background-color: black;
  border-radius: 50px;
  color: black;
}

.content_wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* .horizontal-scroll {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.1);
}

.horizontal-scroll::-webkit-scrollbar {
  height: 6px;
}

.horizontal-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

.horizontal-scroll::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
} */
