.main {
  min-height: 100vh;
  background-color: #669999;
}

.nav {
  background-color: #669999;
  min-width: 100vw;
  height: 96px;
}
.button {
  background-color: #ccff00;
  color: black;
  border-radius: 50px;
  height: 30px;
  width: 80px;
  padding: 0px;
  font-size: 16px;
  box-shadow: 0.125rem 0.125rem black, 1px 1px 5px rgba(0, 0, 0, 0.4);
  margin: 4px 10px 4px 10px;
  font-weight: bold;
}
.button_active {
  background-color: #669999;
  color: #336666;
  border-radius: 50px;
  height: 30px;
  width: 80px;
  padding: 0px;
  font-size: 16px;
  box-shadow: inset -0px -0px 5px rgba(0, 0, 0, 0.4);
  margin: 6px 10px 2px 10px;
  font-weight: bold;
}
.button:active {
  background-color: #669999;
  color: #336666;
  box-shadow: inset -0px -0px 5px rgba(0, 0, 0, 0.4);
  outline: none;
  margin: 6px 10px 2px 10px;
}

.button_circle {
  background-color: #ccff00;
  color: black;
  border-radius: 50px;
  height: 30px;
  width: 30px;
  padding: 0px;
  font-size: 16px;
  box-shadow: 0.125rem 0.125rem black, 1px 1px 5px rgba(0, 0, 0, 0.4);
  margin: 4px 10px 4px 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_circle:active {
  background-color: #ccff00;
  color: rgba(144, 198, 0);
  box-shadow: inset -0px -0px 5px rgba(0, 0, 0, 0.4);
  outline: none;
  margin: 6px 10px 2px 10px;
}
.icon {
  margin: auto;
}
